<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="css/style.css"/> </head>
    <body>
        <div class="main-content">
            <h1>
                <%= header %>
            </h1>
            <article class="widget">
                <form class="weatherLocation">
                    <input placeholder="location..." type = "text"/><button>Seach</button>
                </form>
                <div class="weatherIcon"><i class="wi wi-day-rain"></i></div>
                <div class="weatherInfo">
                    <div class="temperature"><span></span></div>
                    <div class="description">    
                        <div class="weatherCondition"></div>    
                        <div class="place"></div>
                    </div>
                </div>
                <div class="date"></div>
            </article>
        </div>
        <script src="js/frontend.js"></script> 
    </body>
</html>